body {
  margin: 0;
  font-family: "EB Garamond", serif;
  src: url("https://fonts.googleapis.com/css2?family=EB+Garamond");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
